<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="Common.tt" #>
<#

Gist.WriteFile(
	this, // TextTransformation
	"amwaters", // User
	"ade95805292888fb84f53d1e3e425ae8", // Gist
	"a2235b502badaee972ca4e4337b45cfa522208f3", // Commit
	"Debugx.cs" // File
);

#>